{% comment %}
  This is displayed when a user visits either /collections or /products
  More details here: http://net.tutsplus.com/articles/news/lessons-learned-from-building-shopify-themes/
{% endcomment %}

<section class="product-grid">
	{% for collection in collections %}
			<a class="product-box" href="{{collection.url}}">
          {% if collection.image %}
            <div class="image-wrapper" style="background:url({{collection.image.src | collection_img_url: 'medium'}});">
              <img src="{{collection.image.src | collection_img_url: 'medium'}}" alt="{{collection.title}} - {{ shop.name}}">
            </div>
          {% else %}
            <div class="image-wrapper" style="background:url({{ 'placeholder-image.jpg' | asset_url }});">
			        <img src="{{ 'placeholder-image.jpg' | asset_url }}" alt="{{ collection.description | strip_html | truncate: 75 }} click for more information" />
            </div>
          {% endif %}
				<p title="{{ collection.description | strip_html }}">{{collection.title | strip_html}}</p>
        <div class="price">View</div>
			</a>
	{% endfor %}
</section>