<!--~~~~~~~~~~~~~~~~~~~~ Navigation Snippet ~~~~~~~~~~~~~~~~~~~~-->

<nav class="navigation" role="navigation">
	<a href="#" class="touch-navigation"><i class="fa fa-bars"></i> Navigation</a>
	<ul>
		{% for link in linklists.main-menu.links %}

    {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}

		<li class="{% if linklists[child_list_handle].title == "" %}no-children{% endif %}{% if link.active %} active{% endif %}">
			{{ link.title | link_to: link.url }}

      {% if link.title == "By Brand" %}
  	    <ul class="main-nav-child">
          {% for l in linklists.by-brand.links %}
             <li {% if link.active %}class="active"{% endif %}><a href="{{l.url}}">{{l.title}}</a></li>
         {% endfor %}
       </ul>
       {% endif %}

	    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
	    <ul class="main-nav-child">
	      {% for l in linklists[child_list_handle].links %}
	      <li {% if link.active %}class="active"{% endif %}><a href="{{ l.url }}">{{ l.title }}</a></li>
	      {% endfor %}
	    </ul>
	    {% endif %}
		</li>
		{% endfor %}

		{% if shop.customer_accounts_enabled %}
		  <li>
		  	<a href="/account" class="main-nav-account" title="My Account {% if customer %}({{ customer.email }}){% endif %}">Account</a>
			  {% if customer %}
			  	<ul class="main-nav-child">
				    <li>
				      {{ "Logout" | customer_logout_link }}
				    </li>
				  </ul>
			  {% endif %}
			 </li>
		{% endif %}
	</ul>
 </nav>

 {% comment %}
 <!--~~~~~~~~~~~~~~~~~~~~ Usage ~~~~~~~~~~~~~~~~~~~~
1. Create two categories, named like this:

		Main
		Main > Sub

2. Create a link list called 'Main Menu' and add a link pointing to 'Main' collection. The handle must be 'main-menu'.
3. Create a link list called 'Sub' and add a link pointing to the 'Main > Sub' collection.

There is a special case for "By Brand" included, which will display the by-brand link list as a child menu of the Main Menu item named "By Brand". This is only meant as an example of how to add special cases.

-->{% endcomment %}