{% layout settings.customer_layout %}

<a href="/account" class="btn btn-small">&larr; Back</a>
<h2>Manage Addresses</h2>
<a href="#" class="btn" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Add an Address</a>

<div id="add_address" style="display:none;">
  {% form 'customer_address', customer.new_address %}
    <h4 id="add_address_title">Add a new address</h4>
    <table>
      <tr>
        <td><label for="address_first_name_new">First Name</label></td>
        <td><input type="text" id="address_first_name_new" name="address[first_name]" value="{{form.first_name}}" /></td>
      </tr>
      <tr>
        <td><label for="address_last_name_new">Last Name</label></td>
        <td><input type="text" id="address_last_name_new" name="address[last_name]" value="{{form.last_name}}"  /></td>
      </tr>
      <tr>
        <td><label for="address_company_new">Company</label></td>
        <td><input type="text" for="address_company_new" name="address[company]" value="{{form.company}}" /></td>
      </tr>
      <tr>
        <td><label for="address_address1_new">Address1</label></td>
        <td><input type="text" id="address_address1_new" name="address[address1]" value="{{form.address1}}" /></td>
      </tr>
      <tr>
        <td><label for="address_address2_new">Address2</label></td>
        <td><input type="text" id="address_address2_new" name="address[address2]" value="{{form.address2}}" /></td>
      </tr>
      <tr>
        <td><label for="address_city_new">City</label></td>
        <td><input type="text" id="address_city_new" name="address[city]" value="{{form.city}}" /></td>
      </tr>
      <tr>
        <td><label for="address_country_new">Country</label></td>
        <td>
          <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
        </td>
      </tr>
      <tr id="address_province_container_new" style="display:none">
        <td><label for="address_province_new">Province</label></td>
        <td>
          <select id="address_province_new" name="address[province]" data-default="{{form.province}}"></select>
        </td>
      </tr>
      <tr>
        <td><label for="address_zip_new">Zip</label></td>
        <td><input type="text" id="address_zip_new" name="address[zip]" value="{{form.zip}}"/></td>
      </tr>
      <tr>
        <td><label for="address_phone_new">Phone</label></td>
        <td><input type="text" id="address_phone_new" name="address[phone]" value="{{form.phone}}"/></td>
      </tr>
      <tr>
        <td></td>
        <td>{{ form.set_as_default_checkbox }} Set as Default Address?</td>
      </tr>
    </table>
    <input class="btn" type="submit" value="Add Address" />
    or <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Cancel</a>
  {% endform %}
</div>

{% paginate customer.addresses by 10 %}

  {% for address in customer.addresses %}
  <div class="address_table">
    <div id="view_address_{{address.id}}" class="customer_address">
      <h4 class="address_title">
        {{ address.street }}
        {% if address == customer.default_address %}<span>(Default)</span>{% endif %}
      </h4>

      <p>
        <span class="btn btn-small">{{ "Edit" | edit_customer_address_link: address.id }}</span>
        <span class="btn btn-small">{{ "Delete" | delete_customer_address_link: address.id }}</span>
      </p>
        <p>
          {{ address.first_name }} {{address.last_name }}<br />
          {{ address.company }}<br />
          {{ address.street }}<br />
          {{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}<br />
          {{ address.country }} {{ address.zip }}<br />
          {{ address.phone }}<br />
        </p>
    </div>
    <div id="edit_address_{{address.id}}" style="display:none;">
      {% form 'customer_address', address %}
        <table class="customer_address_table">
          <tr>
            <td><label for="address_first_name_{{form.id}}">First Name</label></td>
            <td><input type="text" id="address_first_name_{{form.id}}" name="address[first_name]" value="{{form.first_name}}" /></td>
          </tr>
          <tr>
            <td><label for="address_last_name_{{form.id}}">Last Name</label></td>
            <td><input type="text" id="address_last_name_{{form.id}}" name="address[last_name]" value="{{form.last_name}}" /></td>
          </tr>
          <tr>
            <td><label for="address_company_{{form.id}}">Company</label></td>
            <td><input type="text" id="address_company_{{form.id}}" name="address[company]" value="{{form.company}}" /></td>
          </tr>
          <tr>
            <td><label for="address_address1_{{form.id}}">Address1</label></td>
            <td><input type="text" id="address_address1_{{form.id}}" name="address[address1]" value="{{form.address1}}" /></td>
          </tr>
          <tr>
            <td><label for="address_address2_{{form.id}}">Address2</label></td>
            <td><input type="text" id="address_address2_{{form.id}}" name="address[address2]" value="{{form.address2}}" /></td>
          </tr>
          <tr>
            <td><label for="address_city_{{form.id}}">City</label></td>
            <td><input type="text" id="address_city_{{form.id}}" name="address[city]" value="{{form.city}}" /></td>
          </tr>
          <tr>
            <td><label for="address_country_{{form.id}}">Country</label></td>
            <td>
              <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
            </td>
          </tr>
          <tr id="address_province_container_{{form.id}}" style="display:none">
            <td><label for="address_province_{{form.id}}">Province</label></td>
            <td><select id="address_province_{{form.id}}" name="address[province]" data-default="{{form.province}}"></select></td>
          </tr>
          <tr>
            <td><label for="address_zip_{{form.id}}">Zip</label></td>
            <td><input type="text" id="address_zip_{{form.id}}" name="address[zip]" value="{{form.zip}}" /></td>
          </tr>
          <tr>
            <td><label for="address_phone_{{form.id}}">Phone</label></td>
            <td><input type="text" id="address_phone_{{form.id}}" name="address[phone]" value="{{form.phone}}" /></td>
          </tr>
          <tr>
            <td></td>
            <td>{{ form.set_as_default_checkbox }} Set as Default Address?</td>
          </tr>
        </table>
        <input class="btn" type="submit" value="Update Address" />
        or <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">Cancel</a>
      {% endform %}
    </div>
  </div><!-- end .address_table -->
  {% endfor %}

  <div id="address_pagination">{{ paginate | default_pagination }}</div>
{% endpaginate %}

<script type="text/javascript" charset="utf-8">
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
  {% endfor %}
</script>
