{% layout settings.customer_layout %}

  <div id="account-returning">
      <h2>Returning Customers</h2>

    {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <label for="customer_email">Email Address</label><br />
      <input type="email" value="" name="customer[email]" id="customer_email"/>

      {% if form.password_needed %}

        <label for="customer_password">Password</label><br />
        <input type="password" value="" name="customer[password]" id="customer_password"/>
        <div id="forgot_password">
          <a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
        </div>

      {% endif %}

      <input class="btn" type="submit" value="Sign In" />
      or <a href="{{ shop.url }}">Return to Store</a>

    {% endform %}
  </div>






  <div id="account-recoverpassword" style='display:none'>
    <h2>Reset Password</h2>
    <p>We will send you an email to reset your password.</p>

    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

        <label for="email">Email</label><br />
        <input type="email" value="" name="email" id="recover-email" />

        <input class="btn" type="submit" value="Submit" /><br />
        or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a>
    {% endform %}
  </div>



  <div id="account-new">
      <h2>New Customers</h2>

    {% form 'create_customer' %}
      {{ form.errors | default_errors }}

        <label for="first_name">First Name</label><br />
        <input type="text" value="" name="customer[first_name]" id="first_name"/>

        <label for="last_name">Last Name</label><br />
        <input type="text" value="" name="customer[last_name]" id="last_name"/>

        <label for="email">Email Address</label><br />
        <input type="email" value="" name="customer[email]" id="email"/>

        <label for="password">Password</label><br />
        <input type="password" value="" name="customer[password]" id="password"/>

      <div id="accepts_marketing">
        <input type="hidden" name="customer[accepts_marketing]" value="false"/>
        <input type="checkbox" name="customer[accepts_marketing]" id="accepts_marketing" value="true" />
        <label for="accepts_marketing" class="login">Hear about our new stuff first?</label>
        <p class="small">We promise not to spam you, or pass your details on to anyone else.</p>
      </div>

        <input class="btn" type="submit" value="Register" />
        or <a href="{{ shop.url }}">Return to Store</a>
    {% endform %}
  </div>



<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'inline-block';
    document.getElementById('returning-customers').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('returning-customers').style.display = 'inline-block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
