<!DOCTYPE html>
<html class="no-js">
<head>
  {% include 'head' %}
  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}"  class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

  <!--~~~~~~~~~~~~~~~~~~~~ Handle old browser stuff ~~~~~~~~~~~~~~~~~~~~-->

  <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <noscript>
      <h2 style="text-align: center;">You need to enable JavaScript to get the full {{ shop.name }} experience!</h2>
  </noscript>


  {% include 'header' %}

  {% include 'navigation' %}

  <div id="wrapper" role="main">

    {% if template == 'list-collections' %}
      {% include 'collection-listing' %}
    {% else %}
      {{ content_for_layout }}
    {% endif %}
  </div><!-- /wrapper -->

  {% include 'footer' %}


  {% include 'scripts' %}
</body>
</html>
