{% paginate collection.products by settings.pagination %}

	<section id="{{collection.handle}}" class="collection">
	    {% if collection.image %}
    	    <header class="category-header">
            <img src="{{collection.image.src | collection_img_url: 'original'}}" alt="{{collection.title}} at {{ shop.name }}">
            <h1>{{collection.title}}</h1>
            {% if collection.description.size > 0 %}
            <p>
              {{ collection.description }}
            </p>
            {% endif %}
          </header>
      {% else %}
          <h1>{{collection.title}}</h1>
      {% endif %}

    <section class="product-grid">
		  {% for product in collection.products %}
  			{% include 'product-box' %}
			{% endfor %}
		</section>
		<div id="pagination">
			{{ paginate | default_pagination }}
		</div>
	</section>

{% endpaginate %}